/* Navigation Bar */

.top-nav {
  background-color: #f72210;
  justify-content: space-between;
}

.top-center a svg {
  fill: white;
  width: 396px;
  height: 60px;
  margin: 15px auto;
}

.subscribe {
  background-color: white;
  color: #f72210;
}

.subscribe a {
  color: #f72210;
  padding: 0 8px;
}

.bottom-nav {
  line-height: 24px;
  font-size: 20px;
}

.bottom-nav ul li {
  flex-grow: 1;
  text-align: center;
}

.bottom-nav form {
  font-size: 18px;
}
