.top-nav {
  background-color: #f72210;
  justify-content: space-between;
}

.top-center a svg {
  fill: white;
  width: 396px;
  height: 60px;
  margin: 15px auto;
}

.subscribe {
  background-color: white;
  color: #f72210;
}

.subscribe a {
  color: #f72210;
  padding: 0 8px;
}

.bottom-nav {
  line-height: 24px;
  font-size: 20px;
}

.bottom-nav ul li {
  flex-grow: 1;
  text-align: center;
}

.bottom-nav form {
  font-size: 18px;
}

.block-title {
  color: #03030366;
}

.category {
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
  bottom: 0;
  left: 0;
}

.category a {
  color: #f72210;
}

.sponsor-block .wrapper .category {
  color: #3581f4;
  background-color: #ffffffe6;
}

.culture-stories {
  background-color: #f4f5f7;
}

.culture-stories .block-title a {
  color: #03030380;
}

.title {
  font-size: 20px;
  line-height: 22px;
}

.culture-item .info .summary {
  color: #27272780;
}

.tags a {
  background-color: #c2d4d7;
}

.more-stories .image {
  width: 135px;
}

@media only screen and (min-device-width: 992px) {
  .side-section-left {
    width: 28.22%;
  }

  .center-section {
    width: 40.62%;
  }

  .side-section-right {
    width: 31.16%;
  }

  .culture-item {
    width: 50%;
  }
}